* {
    margin:0;
    padding: 0;
}

body {
    padding: 10px;
    line-height: 25px;
}

li {
    list-style: none;
}


.container {
    max-width: 1200px;
}

.list-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border: solid rgb(88, 113, 228) 2px;
    padding: 10px;
}




