* {
    margin:0;
    padding: 0;
    list-style: none;
}

header {
    background-color: #5dcc66;
}

/* .cover {
    background: url("https://storage.googleapis.com/media-bucket-thong-django-2/cover/bg_c130.jpg") 50%;
    height: min-content;
} */

.logo {
    height: 70px;
    width: 100px;
}

#joinworld {
    font-family: sans-serif;
    font-size: xx-large;
    font-weight: 700;
}


.container {
    max-width: 1200px;
}

.list-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border: solid rgb(88, 113, 228) 2px;
    padding: 10px;
}

.sidebar {
    background-color: #f0f0f0;
    height: auto;
    padding: 20px;
}

.sidebar h2 {
    margin-top: 5px;
}



