* {
    margin:0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    list-style: none;
}

header {
    background-color: #2b6430;
}

/* .cover {
    background: url("https://storage.googleapis.com/media-bucket-thong-django-2/cover/bg_c130.jpg") 50%;
    height: min-content;
} */

.logo {
    height: 70px;
    width: 100px;
}

#joinworld {
    font-family: sans-serif;
    color: #f0f0f0;
    font-size: 3rem;
    font-weight: 700;
}

#taf_display li {
    border: solid black 2px;
    margin: 10px 5px;
}
#metar_display li {
    border: solid black 2px;
    margin: 10px 5px;
}

.sign {
    font-family: sans-serif;
    color: #f0f0f0;
    font-size: 1rem;
    font-weight: 200;
}


.container {
    max-width: 1200px;
}

.list-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border: solid rgb(88, 113, 228) 2px;
    padding: 10px;
}

.sidebar {
    background-color: #333;
    padding: 20px; 
}

.sidebar a{
    color: #f0f0f0;
    font-size: 1.2rem;
    font-weight: 500;
}

.pilotc130_box {
    display: grid;
    grid-template-columns: 150px 1fr;
    border: 1px blue solid;
}

.container-thong {
    width: 1000px;
    width: 100%
}

.leson-item {
    display: grid;
    grid-template-columns: fit-content(900px);
    border: solid 1px blueviolet;
    width: 100%
}



.lesson-item {
    border: 1px blue solid;
}

.loader {
    margin: 20px;
    padding: 10px;
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 100px;
    height: 100px;
    animation: spin 2s linear infinite;
    border-top: 16px solid blue;
    border-right: 16px solid green;
    border-bottom: 16px solid red;
    border-left: 16px solid pink;
      
  }
  
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    50% { transform: rotate(90deg); }
    100% { transform: rotate(720deg); }
  }







