* {
    margin:0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    list-style: none;
}

header {
    background-color: #2b6430;
}

/* .cover {
    background: url("https://storage.googleapis.com/media-bucket-thong-django-2/cover/bg_c130.jpg") 50%;
    height: min-content;
} */

.logo {
    height: 70px;
    width: 100px;
}

#joinworld {
    font-family: sans-serif;
    color: #f0f0f0;
    font-size: 3rem;
    font-weight: 700;
}

#taf_display li {
    border: solid black 2px;
    margin: 10px 5px;
}
#metar_display li {
    border: solid black 2px;
    margin: 10px 5px;
}

.sign {
    font-family: sans-serif;
    color: #f0f0f0;
    font-size: 1rem;
    font-weight: 200;
}


.container {
    max-width: 1200px;
}

.list-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border: solid rgb(88, 113, 228) 2px;
    padding: 10px;
}

.sidebar {
    background-color: #333;
    padding: 20px; 
}

.sidebar a{
    color: #f0f0f0;
    font-size: 1.2rem;
    font-weight: 500;
}




