{% extends "myapp/layout.html" %}

{% load static %}

{% block body %}

    {% if messages %}
        {% for message in messages %}
            <!-- ถ้ามี message เข้ามา ให้ดูว่าเป็น message.tags แบบไหน แล้วให้คลาสของ message เป็นแบบที่ตั้งไว้ใน
            setting.py -->
            {% if message.tags %}
                <div style="padding: 10px; margin: 5px;" class="{{message.tags}}" role="alert">{{ message }}</div>
            {% endif %}
        {% endfor %}
    {% endif %}
        
     <h1 style="font-family: cursive; font-size: 42px; font-weight: 800;">Welcome Sir , C-130 8 days a week.</h1>

    <div id="homepage">

        
        
    </div>


{% endblock %}
