{% extends "myapp/layout.html" %}

{% load static %}

{% block script %}
    <script src="{% static 'myapp/js/currency.js' %}"></script>
{% endblock %}

{% block body %}

    {% if messages %}
    {% for message in messages %}
        <!-- ถ้ามี message เข้ามา ให้ดูว่าเป็น message.tags แบบไหน แล้วให้คลาสของ message เป็นแบบที่ตั้งไว้ใน
        setting.py -->
        {% if message.tags %}
            <div style="padding: 10px; margin: 5px;" class="{{message.tags}}" role="alert">{{ message }}</div>
        {% endif %}
    {% endfor %}
    {% endif %}

    {% if user.is_authenticated %}
        <h3>Welcome Sir , C-130 8 days a week.</h3>
        <!-- <h5 style="border-top: black solid 2px; margin: 5px auto; padding: 5px" >Convert (other currency to Thai bath)</h5>
        <span id="allcurrency">Example currency : USD, EUR , JPY, AUD, SGD(สิงคโปร์), IDR(อินโด), MYR(มาเล),  etc. </span>
        <form>
            <input id="currency" placeholder="Currency" type="text">
            <input type="submit" value="Convert to thai bath">
        </form>
        
        <div id="result1"></div>
        <div id="result2"></div> -->

        <div class="alert-danger" id="result3"></div>

        <h3 style="margin-top: 10px;">ข่าวอากาศ</h3>
        <div id="metra"></div>
        <!-- ----------------------------------------------------------------------------------- -->
        <h3 style="margin-top: 1rem;">TAF</h3>
        
        <form id='taf_submit'>
            <input id="taf" placeholder="vtbd,vtbu,vtcc,etc." type="text">
            <input type="submit" value="TAF">
        </form>
        
        <div id='taf_display'></div>
        <!-- ----------------------------------------------------------------------------------- -->
        
        <h3 style="margin-top: 1rem;">METAR</h3>
        
        <form id='metar_submit'>
            <input id="metar" placeholder="vtbd,vtbu,vtcc,etc." type="text">
            <input type="submit" value="METAR">
        </form>
        
        <div id='metar_display'></div>
        <!-- ----------------------------------------------------------------------------------- -->
        

        <li><a target="_blank" href="http://www.sattmet.tmd.go.th/satmet/mergesat.html">sattmet.tmd</a></li>

        <li><a target="_blank" href="http://www.weather.rtaf.mi.th/dashboard/taf.html">TAF RTAF</a></li>
        <li><a target="_blank" href="http://www.weather.rtaf.mi.th/dashboard/metar.html">METAR RTAF</a></li>

        
    {% else %}
        Welcome
    {% endif %}
        
    </div>
{% endblock %}