{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <!-- <title>{% block title %}Auctions{% endblock %}</title> -->
        <title>601 One Stop Service</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="{% static 'myapp/styles.css' %}" rel="stylesheet">
        <script src="{% static 'myapp/script.js' %}"></script> 
        {% block head %}
        {% endblock %}
    </head>

    <body>
        <h1 id="joinworld">601 SQDN</h1>
        
        <div style="border-bottom: cadetblue 2px double; padding: 5px;">
            {% if user.is_authenticated %}
                <button class ="btn btn-secondary" id=hello_button>Hello</button>
                Signed in as <strong>{{ user.username }}</strong>.
                
                <a class="btn btn-primary" href="{% url 'myapp:logout' %}">Log out</a>
                
            {% else %}
                Not signed in.
                <a class="btn btn-primary" href="{% url 'myapp:login' %}">Log In</a>
            {% endif %}
        </div>

        <div class="row" style = "margin: 10px 3px;">
            {% if user.is_authenticated %}
            <div class="sidebar col-lg-2" style="border: 2px solid black;" >

                    <div>
                        <a href="{% url 'myapp:index' %}">HOME</a>
                    </div>

                    <div>
                        <a href="{% url 'myapp:person' %}">ข้าราชการ601</a>
                    </div>
                    <!-- <div>
                        <a href="#">คลังความรู้</a>
                    </div>
                    
                    <div>
                        <a href="#">ข้อมูลเส้นทางบินในประเทศ</a>
                    </div>
                    
                    <div>
                        <a href="#">ข้อมูลเครื่องบิน</a>
                    </div>
                    
                    <div>
                        <a href="#">ใบจัดบิน</a>
                    </div>
                    -->
                    
                    <div>
                        <a href="#">Lesson Learn</a>
                    </div> 
                    
                    <div>
                        <a href="{% url 'myapp:pilot_c130' %}">ทำเนียบนักบิน C-130</a>
                    </div>
                    
                    <!-- <div>
                        <a href="#">ประวัติฝูงบิน</a>
                    </div>
                    
                    <div>
                        <a href="#">ภารกิจที่สำคัญในอดีต</a>
                    </div> -->
                
                    
                    {% else %}
                        <div></div>
                    {% endif %}
                
            </div>
            
            <div class="main col-lg-10">
                {% block body %}
                {% endblock %}
            </div>
    </body>
</html>