{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <!-- <title>{% block title %}Auctions{% endblock %}</title> -->
        <title>601 One Stop Service</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="{% static 'myapp/styles.css' %}" rel="stylesheet">
        <script src="{% static 'myapp/script.js' %}"></script> 
        {% block script %}
        {% endblock %}
    </head>
    
    <header>
        <div class="row">
            <div class="col-4">
                <div class= "navbar justify-content-start">
                    <li>
                        <a href="{% url 'myapp:index' %}">
                            <img class ="logo" src="https://storage.googleapis.com/media-bucket-thong-django-2/cover/LOGO_c130.png" alt="">
                        </a>
                    </li>
                    <li><h1 id="joinworld">601 SQDN</h1></li>
                </div>
            </div>
            
            <div class="col-8">
                <div class="navbar navbar-expand-lg navbar-light justify-content-end">
                    
                    {% if user.is_authenticated %}
                    <li class="sign">Signed in as <strong>{{ user.username }}</strong>.</li>
                    
                    <li><a class="btn btn-primary" href="{% url 'myapp:logout' %}">Log out</a></li>
                    
                    {% else %}
                    Not signed in.
                    <li><a class="btn btn-primary" href="{% url 'myapp:login' %}">Log in</a></li>
                    {% endif %}
                </div>
            </div>
        </div>
    </header>

    <body>
        <!-- <img src="{% static 'myapp/bg_c130.jpg' %}" alt=""> --> 
        <div class="row" >
            {% if user.is_authenticated %}
            <div class="sidebar col-lg-2"" >

                    <div>
                        <a href="{% url 'myapp:index' %}">HOME</a>
                    </div>

                    <div>
                        <a href="{% url 'myapp:person' %}">ข้าราชการ601</a>
                    </div>
                    <!-- <div>
                        <a href="#">คลังความรู้</a>
                    </div>
                    
                    <div>
                        <a href="#">ข้อมูลเส้นทางบินในประเทศ</a>
                    </div>
                    
                    <div>
                        <a href="#">ข้อมูลเครื่องบิน</a>
                    </div>
                    
                    <div>
                        <a href="#">ใบจัดบิน</a>
                    </div>
                    -->
                    
                    <div>
                        <a href="{% url 'myapp:lessonlearn' %}">Lesson Learn</a>
                    </div> 
                    
                    <div>
                        <a href="{% url 'myapp:pilot_c130' %}">ทำเนียบนักบิน C-130</a>
                    </div>
                    
                    <!-- <div>
                        <a href="#">ประวัติฝูงบิน</a>
                    </div>
                    
                    <div>
                        <a href="#">ภารกิจที่สำคัญในอดีต</a>
                    </div> -->
                
                    
                    {% else %}
                        <div></div>
                    {% endif %}
                
            </div>
            
            <div class="main col-lg-10">
                {% block body %}
                {% endblock %}
            </div>
        </div>
    
    </body>
</html>
