{% extends "myapp/layout.html" %}

{% block body %}

<h2>Lessonlearn Information</h2>

{% for lesson in lessons %}
    <div class="card text-dark bg-light mb-3" style="max-width: 55rem;">
        <div class="card-header">วันที่ {{ lesson.date_fly|date:"d M Y" }}</div>
            <div class="card-body">
                <h5 class="card-title">ชื่อเรื่อง : {{ lesson.title }}</h5>
                <h5 class="card-title">สนามบิน : {{ lesson.airport }}</h5>
                <p class="card-text">{{ lesson.lesson }}</p>
            </div>
        </div>
    </div>
{% endfor %}

{% endblock %}

<!-- <div class="lesson-item">
    <div><strong>เรื่อง : </div>
    <div></strong>{{ lesson.title }}</div>
</div>
<div class="lesson-item">
    <div><strong>วันที่บิน : </div>
    <div></strong>{{ lesson.date_fly|date:"d M Y" }}</div>
</div>
<div class="lesson-item">
    <div><strong>เนื้อหา : </div>
    <div></strong>{{ lesson.lesson }}</div>
</div>
<div class="lesson-item">
    <div><strong>สนามบิน : </div>
    <div></strong>{{ lesson.airport }}</div> -->