{% extends "myapp/layout.html" %}
{% load static %}

{% block body %}

<h2>Person information</h2>

<style>
    img {
        width: 100px;
        height: 100px;
    }
</style>

<div>
    <dl class=row>
        <dt class="col-sm-3"><strong>ยศ ชื่อ - นามสกุล : </dt>
        <dd class="col-sm-9"></strong>{{ employee.rank }}{{ employee.first_name_thai }} {{ employee.last_name_thai }}</dd>

        <dt class="col-sm-3"><strong>First - Last name : </dt>
        <dd class="col-sm-9"></strong>{{ employee.first_name_eng }} {{ employee.last_name_eng }}</dd>

        <dt class="col-sm-3"><strong>วัน เดือน ปี (ค.ศ.) : </strong></dt>
        <dd class="col-sm-9">{{ employee.date_birth|date:"d M Y" }}</dd>

        <dt class="col-sm-3"><strong>เบอร์โทร : </strong></dt>
        <dd class="col-sm-9">{{ employee.telephone }}</dd>

        <dt class="col-sm-3"><strong>ตำแหน่ง : </strong></dt>
        <dd class="col-sm-9">{{employee.position.position}} {% if employee.position_other != None %} /{{employee.position_other}} {% else %} {% endif %}</dd>

        <dt class="col-sm-3"><strong>Photo : </strong></dt>
        <dd class="col-sm-9"><img src="https://storage.googleapis.com/media-bucket-thong-django-2/{{employee.picture.employee_image}}" ></dd>

        <dt class="col-sm-3"><strong>Still service : </strong></dt>
        <dd class="col-sm-9">{{ employee.still_service }}</dd>

    </dl>
    {% if messages %}
        {% for message in messages %}
            <!-- ถ้ามี message เข้ามา ให้ดูว่าเป็น message.tags แบบไหน แล้วให้คลาสของ message เป็นแบบที่ตั้งไว้ใน
            setting.py -->
            {% if message.tags %}
                <div style="padding: 10px; margin: 5px;" class="{{message.tags}}" role="alert">{{ message }}</div>
            {% endif %}
        {% endfor %}
    {% endif %}
</div>

<!--function การ EDIT ข้อมูลของ Employee-->
<button id="edit-info-person" class="btn-secondary">Edit information</button>

<div id="edit-view">
    <div style="border-bottom: black solid 2px; border-top: black solid 2px; padding: 5px;">
        <h2>Update ข้อมูล</h2>
        <form action="{% url 'myapp:upload_employee' employee.id %}" method="post" >
            {% csrf_token %}
            {{ form_employee.as_p }}
            <input class="btn btn-primary" type="submit" value="save edit data">
        </form>
    </div>
    
    <h2>Upload picture</h2>
    <figcaption class="blockquote-footer">
        File not more than <cite title="Source Title">500 Kb !!!!</cite>
    </figcaption>
    
    <form action="{% url 'myapp:upload' employee.id %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <input class="btn btn-primary" type="submit" value="Upload photo">
    </form>
</div>
{% endblock %}

{% block script %}
    <script src="{% static 'myapp/js/edit_view.js' %}"></script>
{% endblock %}