{% extends "myapp/layout.html" %}
{% load static %}

{% block body %}


<style>
    /* table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 5px;
} */
    img {
        width: 100px;
        height: 100px;
    }
</style>

<h2>Choose Lucky Number</h2>
<button class="btn btn-sm btn-outline-primary" id="btn-filter" data-pilot=1>1-50</button>
<button class="btn btn-sm btn-outline-primary" id="btn-filter" data-pilot=2>51-100</button>
<button class="btn btn-sm btn-outline-primary" id="btn-filter" data-pilot=3>101-150</button>
<button class="btn btn-sm btn-outline-primary" id="btn-filter" data-pilot=4>151-200</button>
<button class="btn btn-sm btn-outline-primary" id="btn-filter" data-pilot=5>201-250</button>
<button class="btn btn-sm btn-outline-primary" id="btn-filter" data-pilot=6>251-300</button>
<button class="btn btn-sm btn-outline-primary" id="btn-filter" data-pilot=7>301-350</button>

<div id="load"></div>
<table>

    <div id="pilot130_view">
        {% for employee in employees %}
        <tr>
            <td>{{ employee.rank }}</td>
            <td width = "80px">{{employee.first_name_thai}}</td>
            <td width = "100px">{{employee.last_name_thai}}</td>
            <!-- <td>{{employee.date_birth}}</td> -->
            <td>{% if employee.telephone != None %}
                {{ employee.telephone }} 
                {% else %}
                TBN
                {% endif %}
            </td>
            <!-- แสดงตำแหน่งของนักบิน C130 แต่ถ้าไม่มีตำแหน่งอื่นๆ ที่ธงเพิ่ม models เข้าไปตอนหลัง ก็ไม่ต้องแสดงอะไร 
                ที่ต้องเพิ่มเพราะตำแหน่งของ ทอ. หรืออื่นๆ มีเยอะมาก ใครอยากใส่อะไรก็ใส่ลงไป -->
                <td>{{employee.position.position}} {% if employee.position_other != None %} /{{employee.position_other}} {% else %} {% endif %}</td>  
                <td> {% if employee.afaps != 0 %}
                    {{ employee.afaps }} 
                    {% else %}
                    -
                    {% endif %}
                    <td>{% if employee.lucky_number != None %}
                        Lucky {{ employee.lucky_number }} 
                        {% else %}
                        TBN
                        {% endif %}
                    </td>
                    <!-- <td>{{employee.picture.employee_image}}</td> -->
                    <td ><img src="https://storage.googleapis.com/media-bucket-thong-django-2/{{employee.picture.employee_image}}" ></td>
                    <!-- <td><img src="{% static 'media/image/{{employee.picture.employee_image}}' %}" ></td> -->
                    <td width="50px">{{ employee.update|date:"d M Y" }}</td> 
                    <td><a href="{% url 'myapp:person_one' employee.id %}">MORE INFO</a></td>
                </tr>
                {% endfor %}
            </div>
</table>
            
            {% endblock %}
            
            {% block script %}
            <script type="text/javascript" src="{% static 'myapp/js/pilot_c130.js' %}"></script>
            {% endblock %}